<?xml version="1.0"?>
<configuration>
	<dllmap dll="V8_Net_Proxy" os="linux" wordsize="64" target="linux/x64/libV8_Net_Proxy.so" />
	<dllmap dll="V8_Net_Proxy" os="linux" wordsize="32" target="linux/x86/libV8_Net_Proxy.so" />
	<dllmap dll="V8_Net_Proxy" os="osx"   wordsize="32" target="osx/x86/libV8_Net_Proxy.dylib" />
	<startup> 
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
